.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-height: 90%;
  width: 20%; 
  min-width: 300px;
  margin-left: 5%;
  color: black;

  &:last-child  {
    margin-right: 5%
  }

  &-header {
    height: $card-header-height;
    padding: 5px 0 0 5px;
    
    background: $card-color;

    .card-title {
      font-size: 1.3rem;
      font-weight: bold;
    } 
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    background: $card-color;

    .task {
      margin-top: 10px;
      padding-left: 5px;
      margin-bottom: 2px;
      height: 30px;
      font-size: 1.05rem;
      border-bottom: 2px solid white;
      margin-right: 9px;
      display: flex;
      align-items: flex-end;
    }
    .card-control-panel {
      height: 30px;
  
      button {
        @include button(white);
        font-weight: bold;
        padding-right: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@mixin mobile-card {
  .card {
    width: 90%;
    margin: 20px auto;
    max-height: none;
    min-width: 150px;

    &-title {
      font-size: 1rem;
    }
    
    button {
      font-size: 1;
      margin-left: auto;
    }
  }
}