@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~normalize.css";

@import "variables.css";
@import "colors.css";
@import "modifiers.css";

@import "variables";
@import "mixins";
//@import "header";
@import "header/header";
@import "header/user-menu";
@import "surface";
@import "card";
@import "task-input";
@import "task-selection";
@import "footer";
@import "./modal-window/modal-window.scss";
@import "./modal-window/task-info.scss";
@import "./modal-window/list-of-cards.css";
@import "./modal-window/cards-for-deletion.css";
@import "./modal-window/card-to-add.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow: hidden;
}

.kanban {
  position: relative;
  height: 100%;
  max-width: 100%;
  color: rgb(231, 226, 226);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

@media (min-width: 450px) {
  @include desktop-modal-window;
}

@media (max-width: 450px) {
  //@include mobile-header;
  @include mobile-surface;
  @include mobile-card;
  @include mobile-footer;
  @include mobile-modal-window;
}
