.surface {
  position: absolute;
  left: 0;
  right: 0;
  bottom: $footer-height;
  top: $header-height;

  overflow-x: auto;
  overflow-y: hidden;

  padding-top: 20px;

  background: $color-auxiliary;
  display: flex;
}

@mixin mobile-surface {
  .surface {
    display: block;
    height: none;
    padding-top: $header-height;
    overflow-x: hidden;
    overflow-y: auto;
      
    top: 0;
    bottom: 0;
  }
}

   

